Package: com.wehelp.luke
Name: WeHelp
Version: 1.0-20091226
Architecture: iphoneos-arm
Description:  WeHelp是一款IPhone防盗软件。v2.2， v3.0， v3.1系统下通过测试,理论上可以支持2.x,3.x系统。安装完请运行桌面上的设置程序进行正确设置，否则软件无法起效。 在第一次进入软件时会绑定当前卡作为机主卡，请谨慎！ 重新安装或升级安装也需要进入软件一次。软件会发送提醒短信3次。
Homepage: http://www.WeTeam.com
Maintainer: Luke <hit456@gmail.com>
Author: Luke <hit456@gmail.com>
Section: WeTeam
