<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openState</key>
	<false/>
	<key>targetNumber</key>
	<string></string>
	<key>IMSI</key>
	<string></string>
	<key>refreshSpeed</key>
	<integer>60</integer>
</dict>
</plist>
