Package: com.wehelp.luke
Name: WeHelp
Version: 1.0
Architecture: iphoneos-arm
Description: Help you find your IPhone from thief! 
Homepage: http://www.WeTeam.com
Maintainer: Luke <hit456@gmail.com>
Author: Luke <hit456@gmail.com>
Section: WeTeam
